[View in Colaboratory](https://colab.research.google.com/github/YoonJinAh/py-09/blob/master/wk04_tuple_dictionary_function.ipynb)

# 데이터형 (Date types)

- String
- Number
- Boolean
- List
- Tuple
- Dictionary


>[데이터형 (Date types)](#scrollTo=wxfL9kc6zoxt)

>>[딕셔너리를 사용 (Ch.03-01)](#scrollTo=FH6m6bhMzoxu)

>>>[딕셔너리(Dictionary)란](#scrollTo=DCzeacPezoxy)

>>>[키를 사용하여 요소를 추출하기](#scrollTo=oOlquktszox1)

>>>[키를 사용하여 요소를 치환하기](#scrollTo=LNSucE5tzox6)

>>>[새로운 키와 값을 추가하기](#scrollTo=GhHvHImAzox8)

>>>[키를 사용하여 요소를 삭제](#scrollTo=ntpYt9-bzox_)

>>>[키의 존재 확인](#scrollTo=hrLmfPMezoyH)

>>>[키를 사용한 루프](#scrollTo=YQQOnsQPzoyP)

>>[딕셔너리형 구사 (Ch.4-6)](#scrollTo=ZKSl1ZSYzoyU)

>>>[시퀀스 등으로부터 딕셔너리를 작성](#scrollTo=uqoL-__BzoyV)

>>>[두 개의 딕셔너리를 조합](#scrollTo=Tbm5Xaxlzoyd)

>>>[딕셔너리의 키를 스마트하게 다루기](#scrollTo=DUWT1Mauzoyj)

>>[set(집합)을 사용 (Ch.3-2)](#scrollTo=yUFj7fc3zoys)

>>>[set의 정의](#scrollTo=-OxbUwvxzoyu)

>>>[set의 합집합 구하기](#scrollTo=vI2XdDfAzoyx)

>>>[set의 차집합 구하기](#scrollTo=M8kCqilxzoy2)

>>>[set의 교집합 구하기](#scrollTo=DKtCi36izoy6)

>>>>[set의 대상차집합 구하기](#scrollTo=nMKzkkvjzoy9)

>>>[set과 리스트](#scrollTo=Jg18yRCyzozB)

>>>[set과 비교](#scrollTo=kCh9wTFuzozI)

>>[set형 구사 (Ch.4-5)](#scrollTo=UIR9TlY1zozP)

>>>[set형 메쏘드를 활용](#scrollTo=U-g1ZMb7zozQ)

>>[튜플(tuple) (Ch.03-03)](#scrollTo=EQm7wtwbzozb)

>>>[튜플의 이점](#scrollTo=fb0ppf9Szozq)

>>[리스트형, 튜플형 구사하기 (Ch.4-4)](#scrollTo=jk3S8pIMzoz2)

>>>[리스트를 정렬](#scrollTo=BpGbXDdmzoz2)

>>>[정렬 순서 커스터마이징(Customizing)](#scrollTo=pq-GZg_tzoz-)

>>>[언팩 대입](#scrollTo=VQ72ppVizo0J)

>>>[슬라이스의 스텝 수](#scrollTo=J6ANWY8Gzo0M)

>>>[슬라이스를 사용한 요소의 대입과 삭제](#scrollTo=w3uPaJAWzo0W)

>>[if문의 응용 (Ch.03-04)](#scrollTo=RPKXNI3Kzo0Z)

>>>[비교 연산자와 True(참), False(거짓)](#scrollTo=4CnoeCdGzo0a)

>>>[비교에 관한 메모](#scrollTo=UwvrO5E1zo0j)

>>>[복잡한 비교 – 논리연산](#scrollTo=3NsrAamRzo00)

>>[루프의 응용 (Ch.3-5)](#scrollTo=U_ayC-iOzo02)

>>>[while문으로 루프를 작성](#scrollTo=Ro2yPszzzo02)

>>>[break문과 continue문을 사용한 루프의 제어](#scrollTo=svfFQDvlzo04)

>>[함수의 응용 (Ch.3-6)](#scrollTo=juUpfBNqzo0_)

>>>[함수에 디폴트 인수를 정의](#scrollTo=QYhdLpK4zo1E)

>>>[인수의 키워드 지정](#scrollTo=6CKM0MaKzo1K)

>>>[함수와 지역 변수](#scrollTo=BmeQ017wzo1N)

>>[객체로서의 내장형 (Ch.4-1)](#scrollTo=9UkYeaiwzo2I)

>>>[메쏘드란?](#scrollTo=6hCU7Ndjzo2K)

>>[if문과 내장형 (Ch.4-7)](#scrollTo=w_9mrjK8zo1Y)

>>>[내장형과 True(참), False(거짓)](#scrollTo=yL8yOwOYzo1Z)

>>[for문과 내장형 (Ch.4-8)](#scrollTo=aWLbEyTZzo1r)

>>>[range( ) 함수 구사하기](#scrollTo=chvWFG8Zzo1s)

>>>[시퀀스와 루프 카운터](#scrollTo=hRQx-qQEzo1y)

>>>[두개의 시퀀스를 사용한 루프](#scrollTo=oi35DraXzo12)

>>[함수와 내장형 (Ch.4-9)](#scrollTo=Bk3tPJv0zo13)

>>>[반환값과 언팩 대입](#scrollTo=BhdEga6Jzo17)

>>>>[[도전] 위의 digest() 함수가 variance도 추가로 반환하게 변경해보시오!](#scrollTo=lknhUkNdDzzm)

>>>[함수로 인수 리스트를 받기](#scrollTo=ZnHLqHIWzo1_)

>>>[함수로 키워드 인수 받기](#scrollTo=gTIF5d1Hzo2C)

>>>[기본 인수 및 갱신 가능한 내장형 (사용 주의!)](#scrollTo=vbtlwiPozo2D)

## 딕셔너리를 사용 (Ch.03-01)

In [2]:
# 별명, 출생지, 이름을 리스트에 저장
purple = ["도깨비", "서울", "김영수"] # 대괄호 : list

# 인덱스를 사용하면 요소를 꺼낼 수 있지만
# 인덱스를 기억해야 하기 때문에 조금 복잡하다
purple[1]

'서울'

### 딕셔너리(Dictionary)란

In [0]:
# 딕셔너리의 정의
purple = {"별명": "도깨비",
          "출신지": "서울",
          "이름": "김영수"}
# javascript의 객체와 유사

### 키를 사용하여 요소를 추출하기

In [4]:
# 딕셔너리로부터 값을 추출
print(purple["출신지"])

서울

In [6]:
# 딕셔너리 purple의 내용을 확인
# 딕셔너리의 내용을 보면
# 순서가 정의했을 때와 달라지고 있다. => 키 값의 자음모음 순으로 올림차순으로 정렬되어 나옴.
# (그러나 Python 3.6.5까지, 3.6.6 이후부터는 순서가 보존된다)
purple

{'별명': '도깨비', '이름': '김영수', '출신지': '서울'}

In [7]:
# colab에서 사용하고 있는 버전
!python --version

Python 3.6.6

In [8]:
python --version
# why에러? : 리눅스 명령어를 수행할 때는 감탄부호를 사용해야함.

NameError: ignored

### 키를 사용하여 요소를 치환하기

In [9]:
# 값의 변경
purple["이름"] = "홍길동"
purple            # 딕셔너리 내용을 확인

{'별명': '도깨비', '이름': '홍길동', '출신지': '서울'}

### 새로운 키와 값을 추가하기

In [10]:
# 요소의 추가
purple["생년월일"] = "1993년 6월 21일"
purple            # 딕셔너리 내용을 확인

{'별명': '도깨비', '생년월일': '1993년 6월 21일', '이름': '홍길동', '출신지': '서울'}

### 키를 사용하여 요소를 삭제

In [11]:
# 요소의 삭제
del purple["별명"]
purple            # 딕셔너리 내용을 확인

{'생년월일': '1993년 6월 21일', '이름': '홍길동', '출신지': '서울'}

In [12]:
# 존재하지 않는 키를 지정한 경우
purple["별명"]

KeyError: ignored

In [13]:
#purple의 모든 key 출력 : 이전과는 다르게 입력순으로 표현됨.
purple.keys()

dict_keys(['출신지', '이름', '생년월일'])

In [14]:
# purple의 모든 values 출력
purple.values()

dict_values(['서울', '홍길동', '1993년 6월 21일'])

### 키의 존재 확인

In [0]:
# convert_number() 함수의 정의
# in을 사용한 키의 존재 확인 샘플
def convert_number(num):
    # 아라비아 숫자와 로마 숫자의 대응표를 딕셔너리에 정의
    roman_nums = {1:"I", 2:"II", 3:"III", 4:"IV", 5:"V",
                  6:"VI", 7:"VII", 8:"VIII", 9:"IX"}
    if num in roman_nums:     # num에는 키 값이 들어간다(1,2,3 ....9)
        # 딕셔너리의 키로 인수의 정수가 존재하고 있으면
        # 키에 대응하는 값을 리턴값으로 한다
        return roman_nums[num]
    else:
        return "[변환 불가]"

In [16]:
convert_number(3)   # 함수 호출

'III'

In [17]:
convert_number(10)

'[변환 불가]'

### 키를 사용한 루프

In [0]:
# 딕셔너리의 키를 사용한 루프
purple = {"별명": "도깨비",
          "출신지": "서울",
          "이름": "홍길동",
          "생년월일": "1993년 6월 21일"}

In [20]:
for key in purple:           # 키를 전부 추출
    print(key, purple[key])  # 키와 요소를 표시

별명 도깨비
출신지 서울
이름 홍길동
생년월일 1993년 6월 21일

In [21]:
purple

{'별명': '도깨비', '생년월일': '1993년 6월 21일', '이름': '홍길동', '출신지': '서울'}

## 딕셔너리형 구사 (Ch.4-6)

### 시퀀스 등으로부터 딕셔너리를 작성

In [0]:
# {'one':1, 'two':2}라는 딕셔너리를 만든다

# 딕셔너리에서 딕셔너리를 만듦(복사)
dict({'one':1, 'two':2})

In [23]:
# 키와 값의 시퀀스로 딕셔너리를 만듦
dict([['one', 1], ['two', 2]])

{'one': 1, 'two': 2}

In [0]:
# 키워드 인수로 딕셔너리를 만듦
dict(one=1, two=2)

### 두 개의 딕셔너리를 조합

In [0]:
# update() 메쏘드에 의한 딕셔너리의 연결
a = {"title"  :"파이썬의 공부 전",
           "link"   :"http://host.to/blog/entry",
           "dc_date":"2016-07-12T13:24:04Z"}
# 딕셔너리 변경
a.update({"title"     :"파이썬 공부 중",
                "dc:creator":"someone"})
a.keys()   # 키의 요약을 표시

In [0]:
a.keys()        # 딕셔너리를 표시, 키는 유일!

In [0]:
a



```
# 코드로 형식 지정됨
```

### 딕셔너리의 키를 스마트하게 다루기

In [24]:
# 어려움!
#특정파일을 업로드 후에 그 파일안의 단어가 몇개인지 세는 것 등에 이용
# 영어 단어의 출현 수를 딕셔너리에서 계산
#
# 책에서는 지면의 사정 등으로 추상적인 샘플 코드를 게재하고 있지만
# 여기에 코드를 보충하여 다시 작성했다
# 두줄이상의 문자열을 사용할 때  큰 따움표 3개사용함.

line = """If you can dream it, you can do it. 
- Walt Disney"""
wordcnt = {}              # 중괄호 안 아무것도 없으면 딕셔너리를 초기화
for word in line.split(): #빈도수 계산()에는 구분자가 들어가야하지만 없는경우 공백.
                          # spli
    if word in wordcnt:
        wordcnt[word] = wordcnt[word]+1
    else:
        wordcnt[word] = 1
print(wordcnt)            # 결과 표시

{'If': 1, 'you': 2, 'can': 2, 'dream': 1, 'it,': 1, 'do': 1, 'it.': 1, '-': 1, 'Walt': 1, 'Disney': 1}

In [25]:
# 딕셔너리의 get 메쏘드를 사용하여 다시 작성
wordcnt = {}              # 딕셔너리를 초기화
for word in line.split():
    wordcnt[word] = wordcnt.get(word, 0)+1
print(wordcnt)            # 결과 표시

{'If': 1, 'you': 2, 'can': 2, 'dream': 1, 'it,': 1, 'do': 1, 'it.': 1, '-': 1, 'Walt': 1, 'Disney': 1}

In [26]:
wordcnt

{'-': 1,
 'Disney': 1,
 'If': 1,
 'Walt': 1,
 'can': 2,
 'do': 1,
 'dream': 1,
 'it,': 1,
 'it.': 1,
 'you': 2}

[get() method of dictionary](https://www.programiz.com/python-programming/methods/dictionary/get)

In [27]:
# 더미 setdefault()를 사용한 샘플
wordcnt = {}              # 딕셔너리를 초기화
for word in line.split():
    wordcnt[word] = wordcnt.setdefault(word, 0) + 1
print(wordcnt)            # 결과 표시

{'If': 1, 'you': 2, 'can': 2, 'dream': 1, 'it,': 1, 'do': 1, 'it.': 1, '-': 1, 'Walt': 1, 'Disney': 1}

In [0]:
#

## set(집합)을 사용 (Ch.3-2)

### set의 정의

In [0]:
# set의 정의: key 없이 항목으로만 정의
dice = {1, 2, 3, 4, 5, 6}
coin = {"앞면", "뒷면"}

### set의 합집합 구하기

In [29]:
# 합집합의 연산
prime = {2, 3, 5, 7, 13, 17}  # 소수의 set을 정의
fib = {1, 1, 2, 3, 5, 8, 13}  # 피보나치수의 set을 정의 (첫번째, 두번째 숫자를 더하면 세번째 숫자가 됨)

prime_fib = prime | fib       # 2개의 합집합 '|'과 or은 같음
prime_fib                     # 얻어진 합집합을 표시

{1, 2, 3, 5, 7, 8, 13, 17}

In [32]:
# 중복 불허
fib,prime

({1, 2, 3, 5, 8, 13}, {2, 3, 5, 7, 13, 17})

### set의 차집합 구하기

In [33]:
# 차집합의 작성
dice = {1, 2, 3, 4, 5, 6}      # 주사위 눈의 set을 정의
even = {2, 4, 6, 8, 10}        # 짝수의 set을 정의

odd_dice = dice - even         # 주사위의 눈과 짝수의 차집합
odd_dice                       # 홀수만 표시

{1, 3, 5}

In [34]:
even-dice

{8, 10}

### set의 교집합 구하기

In [35]:
# 교집합 구하기
prefs = {"부산", "충청남도", "전라남도", "경상남도"}  # 지방명의 set을 정의
capitals = {"부산", "천안", "나주", "창원"}        # 도청소재지의 set을 정의

pref_cap = prefs & capitals       # 2개의 교집합(&와 and는 같음)
pref_cap                          # 교집합의 표시

{'부산'}

#### set의 대상차집합 구하기

In [36]:
# 대상차집합의 작성
prefs = {"부산", "충청남도", "전라남도", "경상남도"}  # 지방명의 set을 정의
capitals = {"부산", "천안", "나주", "창원", "경상남도"}        # 도청소재지의 set을 정의

pref_cap2 = prefs ^ capitals       # 2개의 대상차집합을 구함(같을경우 -(뺀다), 다를경우 0(가만히))
pref_cap2                          # 대상차집합을 표시

{'나주', '전라남도', '창원', '천안', '충청남도'}

### set과 리스트

In [37]:
# 리스트를 set에 변환하기
# set을 사용하여 문자열 리스트의 중복을 제거하는
# 문자열 리스트를 정의
codon = ['ATG', 'GGC', 'TCC', 'AAG', 'TTC', 'TGG',
         'GAC', 'TCC']
s_codon = set(codon)      # 리스트를 set으로 변환(중복허용안됌)
print(len(codon), len(s_codon))    # 리스트와 set의 길이를 표시
                                   # len(codon)의 길이는 codon의 갯수, len(s_codon)은 중복되는 문자열 뺀 함수갯수

8 7

In [38]:
s_codon  # 코돈(codon)이란 특정 아미노산을 결정짓는 mRNA 상의 3개의 염기서열

{'AAG', 'ATG', 'GAC', 'GGC', 'TCC', 'TGG', 'TTC'}

### set과 비교

In [39]:
# 요소의 검색과 set의 비교
prime = {2, 3, 5, 7, 13, 17}  # 소수의 set을 정의
fib = {1, 1, 2, 3, 5, 8, 13}  # 피보나치수의 set을 정의

prime_fib = prime & fib       # 2개의 교집합을 연산
if 13 in prime_fib:
    print("13은 소수이고, 피보나치 수이기도 하다")
if {2, 3} <= prime_fib:  # _는 prime이 fib에 포함되는지?
    print("2, 3은 소수이고, 피보나치 수이기도 하다")

13은 소수이고, 피보나치 수이기도 하다
2, 3은 소수이고, 피보나치 수이기도 하다

In [0]:
prime_fib

In [0]:
if {1, 2, 3} <= prime_fib:
    print("2, 3은 소수이고, 피보나치 수이기도 하다")
# else 추가 "1은 소수가 아니다."
else:
    print("1은 소수가 아니다.")

## set형 구사 (Ch.4-5)

### set형 메쏘드를 활용

In [0]:
# set형 메쏘드에는 두가지 방법이 있다
# 하나는 결과 set의 복사본을 반환 객체를 변경하는 메쏘드이다

#union은 두개를 병합해서 출력해줌. 중복은 제외함
prime = set([2, 3, 5, 7, 11])
fib = set([1, 1, 2, 3, 5, 8])
new_set = fib.union(prime)     # 메소드가 돌려주는 결과를 변수로 받음
new_set                        # 변수를 표시

In [0]:
fib                          # 메쏘드를 호출한 원래의 변수는 변하지 않는다

In [0]:
# 다른 하나는 개체 자체를 변경하는 메쏘드입니다

prefs = set(['서울시', '경기도', '강원도'])   # set 정의
prefs.add('제주도')                        # 요수를 추가
prefs                                     # 요소를 표시 출력시에 {}라고 뜬다.

## 튜플(tuple) (Ch.03-03)

In [0]:
# 튜플의 정의(소괄호로 사용하여 정의, 안의 내용물 바꿀 수 없음)
month_names = ("January", "February", "March", "April",
               "May", "June", "July")

In [0]:
# 튜플에서 요소를 추출
month_names[1]   # 2월의 이름을 표시(인덱스는 0부터 시작)

In [0]:
# 튜플은 요소의 변경이 불가능!!!
month_names[4] = "오월"

In [0]:
# 튜플의 연결
month_names = month_names + ("August", "September", "October", 
                           "November", "December")
month_names[11]   # 12월의 이름을 표시

### 튜플의 이점

In [0]:
# 튜플을 키로 사용한 딕셔너리의 작성
# 시/도청 소재지와 위도, 경도를 딕셔너리에 등록(딕셔너리 마무리 중괄호)
# 키로 튜플형식(위도와 경도)으로 넣어준다

pref_capitals = {(37.27479, 127.00962):"경기도(수원시)",
                 (37.88565, 127.73):"강원도(춘천시)",
                 (36.48008, 127.28921):"세종특별자치시(보람동)"}

In [49]:
# 지정한 위도, 경도에 맞는 시/도청 소재지를 조사
loc = (36.48008, 127.28921)    # 조사하고 싶은 지점의 위도, 경도
for key in pref_capitals:      # 키로 루프
    if loc == key:
        # 조사하고 싶은 지점과 딕셔너리의 키가 같은가
        print(pref_capitals[key])
        break                 # 루프를 빠져나옴

세종특별자치시(보람동)

In [50]:
# 지정한 위도, 경도에 가장 가까운 시/도청 소재지를 조사
loc = (36.35016, 127.38571)   # 조사하고 싶은 지점의 위도, 경도
nearest_cap = ''              # 가장 가까운 시/도청 소재지명을 보존하는 변수
nearest_dist = 10000          # 가장 가까운 지점까지의 거리를 보존하는 변수
for key in pref_capitals:     # 키로 루프
    # 위도, 경도의 차를 제곱하여 거리를 계산
    dist = (loc[0]-key[0])**2+(loc[1]-key[1])**2  # distance between locations
    if nearest_dist > dist:
        # 보다 가까운 지점을 발견했으므로 변수에 대입
        nearest_dist = dist
        nearest_cap = pref_capitals[key]

print(nearest_cap)

세종특별자치시(보람동)

In [0]:
# break
# break
# break

## 리스트형, 튜플형 구사하기 (Ch.4-4)

### 리스트를 정렬

In [46]:
# 오름차순으로 정렬(작->큰값)
monk_fish_team = [158, 157, 163, 157, 145]
monk_fish_team.sort()          # 정렬하기
monk_fish_team                 # 리스트 내용 확인

[145, 157, 157, 158, 163]

In [47]:
# 내림차순으로 정렬(큰->작은값)
monk_fish_team.sort(reverse=True)  # 정렬하기
monk_fish_team                     # 리스트 내용 확인

[163, 158, 157, 157, 145]

### 정렬 순서 커스터마이징(Customizing)

In [0]:
#중요
# 튜플의 리스트를 작성
tank_data = [("A형 전차", 38, 80, 75), ("B형 전차", 42, 50, 37),
             ("X형 전차", 20, 17, 57), ("Y형 전차", 40, 50, 75),
             ("Z형 전차", 39, 51, 75)]

In [0]:
# 전차의 제원을 더해 반환하는 함수
# 정렬에 사용할 함수를 정의
def evaluate_tankdata(tup):
    return tup[1]+tup[2]+tup[3]

In [59]:
# 각 전차의 강함을 표시
print(evaluate_tankdata(tank_data[0]))
print(evaluate_tankdata(tank_data[4]))

193
165

In [60]:
# 다음 계산 결과는?
evaluate_tankdata(tank_data)

('B형 전차', 42, 50, 37, 'X형 전차', 20, 17, 57, 'Y형 전차', 40, 50, 75)

In [61]:
# 전차의 강함으로 정렬하기
tank_data.sort(key=evaluate_tankdata, reverse=True)
print(tank_data)

[('A형 전차', 38, 80, 75), ('Y형 전차', 40, 50, 75), ('Z형 전차', 39, 51, 75), ('B형 전차', 42, 50, 37), ('X형 전차', 20, 17, 57)]

### 언팩 대입

In [65]:
# 언팩 대입 사용
a = 1
b = 2
b, a = a, b   # 여러 개의 요소를 동시에 대입
print(a, b)

2 1

### 슬라이스의 스텝 수

In [66]:
# 리스트에서 슬라이스로 요소를 추출
a = [1, 2, 3, 4, 5]   # 리스트 정의
a                     # 리스트 보기

[1, 2, 3, 4, 5]

In [67]:
# 슬라이스의 범위를 지정
a[1:4]                # 인덱스 1부터 3까지 추출, [1:3]이 아닌 것에 주의

[2, 3, 4]

In [68]:
# 인덱스 이상의 요소 수를 지정
a[2:100]              # 오류가 나지 않음

[3, 4, 5]

In [69]:
a[:]  #전체 출력

[1, 2, 3, 4, 5]

In [70]:
a[-1]  #마지막 인덱스 출력

5

In [71]:
a[:-1]  #마지막 인덱스 전 까지 출력

[1, 2, 3, 4]

In [72]:
a[:-2]   # 뒤에서 두번째 전 까지의 인덱스까지 출력

[1, 2, 3]

In [73]:
a[::2]                # 리스트에서 짝수번째의 요소를 추출

[1, 3, 5]

### 슬라이스를 사용한 요소의 대입과 삭제

In [74]:
# 요소의 추가
a = [1, 2, 3, 4, 5]   # 리스트를 작성
# 리스트의 3번째 부터 다섯번째 요소를 치환
# 숫자 3,4를 문자열 세개로 바꿈. 암거나 다 가능ㅜ
a[2:4] = ['Three', 'Four', 'five']
a                     # 결과의 표시 ? Understand???

[1, 2, 'Three', 'Four', 'five', 5]

In [75]:
# 요소의 삭제
a = [1, 2, 3, 4, 5]   # 리스트를 작성
del a[2:]             # 3번째부터 마지막까지 삭제
a                     # 결과 확인

[1, 2]

## if문의 응용 (Ch.03-04)

### 비교 연산자와 True(참), False(거짓)

In [76]:
# 비교식에서는 결과에 따라 True(참), False(거짓)가 돌아온다
1+1 == 2          # 수식과 수치 비교 1

True

In [77]:
5**(4-4)+9 == 10  # 수식과 수치 비교 1

True

In [78]:
5 > 2             # 수치의 크고 작음 비교

True

In [79]:
100 == 100.0      # 정수와 부동 소수점 비교

True

In [80]:
#파이썬 지원 안함.
100 === 100.0

SyntaxError: ignored

In [84]:
"길동" != "홍길동"   # 문자열 비교

True

In [83]:
[1, 2, 3] == [1, 2, 3, 4]  # 리스트와 리스트의 비교

False

### 비교에 관한 메모

In [0]:
# Python(3)는 다른 형태의 비교를 실행 할 수 없다
1 < "2"    # 오류가 발생

In [0]:
# 문자열을 명시적으로 숫자로 변환하여 비교하는 것이 파이썬의 방법
1 < int("2")

In [0]:
# 문자열끼리의 비교 (대소)
"100" < "200"    # 보기 원하는 결과가 돌아오고 있는 것 같지만

In [0]:
"100" < "2"      # (내부적으로) 문자열을 숫자로 비교하는 것은 아니다

In [0]:
"100" > "2"

### 복잡한 비교 – 논리연산

In [85]:
# 조건식에 논리 연산자를 사용한 예
# 지구상에서 수평으로 쏘아올린 물체가 속도(v)에 의해
# 어떤 행동을 하는지를 조사
v = 30000                   # 쏘아 올리는 속도(km/h)
if v < 28400:               # 제1 우주속도 이하
    print("지구에 낙하합니다")
if v >= 28400 and v < 40300: # 제1 우주속도 이상이며 제2 우주속도 미만
    print("달과 친구입니다")
if v >= 40300 and v < 60100: # 제2 우주속도 이상이며 제3 우주속도 미만
    print("혹성과 같은 부류입니다")
if v >= 60100:               # 제3 우주속도 이상
    print("알파 센타우리를 노려라")

달과 친구입니다

## 루프의 응용 (Ch.3-5)

### while문으로 루프를 작성

In [86]:
# Fizz Buzz 문제를 푸는 프로그램
cnt = 1                   # 루프 카운터를 초기화
while cnt <= 100:         # 1부터 100까지 반복
    if cnt%3 == 0 and cnt%5 == 0:
        print("FizzBuzz") # 3으로도 나누어지고 5로도 나누어 지는 것
    elif cnt%3 == 0:
        print("Fizz")     # 3으로 나누어지는 것
    elif cnt%5 == 0:
        print("Buzz")     # 5로 나누어지는 것
    else:
        print(cnt)        # 값의 표시
    cnt = cnt+1           # 카운터를 1씩 증가

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

### break문과 continue문을 사용한 루프의 제어

In [2]:
# 가위, 바위, 보 프로그램(튜플:읽기전용 수정 ㄴㄴ)
from random import randint              # 난수를 발생하는 함수를 import 함
hands = {0:"가위", 1:"바위", 2:"보"}       # 가위, 바위, 보의 수
# 승패의 규칙
rules = {(0, 0):"비김", (0, 1):"컴승", (0, 2):"컴패",   
         (1, 0):"패", (1, 1):"비김", (1, 2):"승",
         (2, 0):"승", (2, 1):"패", (2, 2):"비김"}

while True:
    # 가위, 바위, 보의 루프
    pc_hand = randint(0, 2)             # 난수로 수를 결정
    user_hand_str = input("0:가위 1:바위 2:보 3:종료")
    if user_hand_str == "3":
        # 종료값이 입력되면 루프를 빠져나감
        print("Game over!")
        break
    if user_hand_str not in ("0", "1", "2"):
        # 부정한 입력의 경우 루프의 앞으로 되돌아감
        continue
    user_hand = int(user_hand_str)     # 사용자의 수를 값으로 변환=>입력값은 항상 문자열로 받기 때문
    # 수의 표시
    print("당신:"+hands[user_hand]+", 컴퓨터:"+hands[pc_hand])
    # 승패의 표시
    print(rules[(user_hand, pc_hand)])

0:가위 1:바위 2:보 3:종료1
당신:바위, 컴퓨터:보
승
0:가위 1:바위 2:보 3:종료2
당신:보, 컴퓨터:보
비김
0:가위 1:바위 2:보 3:종료0
당신:가위, 컴퓨터:바위
컴승
0:가위 1:바위 2:보 3:종료0
당신:가위, 컴퓨터:보
컴패
0:가위 1:바위 2:보 3:종료3
Game over!

## 함수의 응용 (Ch.3-6)

In [6]:
# int() 함수의 예
# 함수 호출, 인수, 반환 복습
int("101010", 2)       # 이진수 해당 문자열을 숫자로 변환

42

In [4]:
# 두 번째 인수를 지정하지 않을 경우 묵시적으로 10으로 간주
int("101010")

101010

### 함수에 디폴트 인수를 정의

In [0]:
def fizzbuzz(count=100, fizzmod=3, buzzmod=5):
    """
    FizzBuzz 문제를 푸는 함수
    반복 횟수, Fizz/Buzz를 표시하는 조건을 변경할 수 있다
    (이것은 docstring 문자열입니다)
    """
    for cnt in range(1, count+1):             # 카운트 반복
        if cnt%fizzmod == 0 and cnt%buzzmod == 0:
            # fizzmod와 buzzmod도 딱 나누어 떨어짐
            
            print("FizzBuzz")
        elif cnt%fizzmod == 0:
            # fizzmod로 딱 나누어 떨어짐
            
            print("Fizz")
        elif cnt%buzzmod == 0:
            # buzzmod로 딱 나누어 떨어짐
            
            print("Buzz")
        else:
            # 값을 표시
            print(cnt)

In [8]:
# 함수를 호출 (인수, 즉 매개변수를 다르게 지정하여 함수 실행)
fizzbuzz(50, 2, 7)

1
Fizz
3
Fizz
5
Fizz
Buzz
Fizz
9
Fizz
11
Fizz
13
FizzBuzz
15
Fizz
17
Fizz
19
Fizz
Buzz
Fizz
23
Fizz
25
Fizz
27
FizzBuzz
29
Fizz
31
Fizz
33
Fizz
Buzz
Fizz
37
Fizz
39
Fizz
41
FizzBuzz
43
Fizz
45
Fizz
47
Fizz
Buzz
Fizz

### 인수의 키워드 지정

In [13]:
# 인수의 키워드 지정
# 키워드를 지정하여 인수의 순서를 바꿔 본다
int(base=2, x="1010")  # int("1010", 2)와 같다

10

### 함수와 지역 변수

In [15]:
# 함수의 밖에서 정의한 변수를 함수 내에서 사용
local_var = 1           # 함수의 외부에서 변수를 정의

def test_func(an_arg):
    local_var = an_arg  # 함수 내부에서 같은 이름의 변수를 정의
    print("test_func()의 내부 =", local_var)

test_func(200)
print("test_func()의 외부 =", local_var)

test_func()의 내부 = 200
test_func()의 외부 = 1

## 객체로서의 내장형 (Ch.4-1)

### 메쏘드란?

In [0]:
# 리스트의 인덱스를 반환하는 함수 find_index의 정의
def find_index(the_list, target):
    # the_list에서 target의 인덱스를 조사하는 함수
    idx = 0                 # 인덱스용의 카운터를 초기화
    for item in the_list:   # 리스트의 요소를 1개씩 조사
        if target == the_list[idx]:
            # 조사하고 싶은 요소가 발견되면 인덱스를 반환
            return idx
        idx = idx+1    # 인덱스를 1 증가

In [19]:
# find_index( )를 사용한 예
# 리스트를 정의
mcz=["영희", "길동", "순철", "철희", "지영"]
find_index(mcz, "영희")

0

In [18]:
# index( ) 메쏘드를 사용한 예
# 메쏘드를 사용하여 동일한 작업을 하는 것이 더 쉽다
mcz.index("순철")

2

## if문과 내장형 (Ch.4-7)

### 내장형과 True(참), False(거짓)

In [34]:
# True로 판별되는 객체
s = "SPAM"  # 문자열 정의
if len(s) != 0:
    print("s는 비어 있지 않다.")

s는 비어 있지 않다.

In [36]:
# 같은 처리를 다음과 같이도 쓸 수도 있다
if s:
    print("s는 비어 있지 않다.")

s는 비어 있지 않다.

In [39]:
# 기타 True(참)가 되는 객체
if 1:               # 0이 아닌 숫자
    print(True)

True

In [23]:
if "KILLERRABBIT":  # 길이가 있는(비어 있지 않은) 문자열
    print(True)

True

In [24]:
if [1, 2, 3]:       # 요소를 가진 리스트, 튜플 등
    print(True)

True

In [25]:
if {1:'One', 2:'Two'}: # 요소를 가진 딕셔너리
    print(True)

True

In [0]:
# False(거짓)가 되는 객체
# print()가 있는 블록이 실행되지 않는다
if 0:               # 숫자 0
    print(True)

In [0]:
if "":              # 빈 문자열
    print(True)

In [0]:
if []:              # 빈 리시트나 튜플 등
    print(True)

In [0]:
if {}:              # 빈 딕셔너리
    print(True)

## for문과 내장형 (Ch.4-8)

### range( ) 함수 구사하기

In [41]:
# 10～20의 리스트를 작성
for i in range(10, 21):
    print(i, end=' ')   # 줄바꿈하지 않고 공백을 추가하여 반복하는 변수를 표시

10 11 12 13 14 15 16 17 18 19 20

In [42]:
# range() 함수에 스텝 수 부여
for i in range(10, 21, 2):  # 10부터 20까지, 2씩 증가
    print(i, end=' ')

10 12 14 16 18 20

In [43]:
for i in range(10, 21, 3):  # 10부터 19까지, 3씩 증가
    print(i, end=' ')

10 13 16 19

In [44]:
for i in range(20, 9, -1):  # 20부터 10까지, 1씩 감소
    print(i, end=' ')

20 19 18 17 16 15 14 13 12 11 10

### 시퀀스와 루프 카운터

In [46]:
# 카운터 변수를 사용한 루프 카운터

# 책의 코드를 보충하였다

# 순서를 정의
seq = ["야구", "축구", "농구", "배구", "탁구"]
counter = 0        # 루프 카운터를 초기화
for item in seq:
    print(counter, item, end=' ')
    counter += 1

0 야구 1 축구 2 농구 3 배구 4 탁구

In [47]:
# range()를 사용한 루프 카운터
for cnt in range(len(seq)):
    print(cnt, seq[cnt], end=' ')

0 야구 1 축구 2 농구 3 배구 4 탁구

In [48]:
# enumerate ()를 사용한 예
for cnt, item in enumerate(seq):
    print(cnt, item, end=' ')

0 야구 1 축구 2 농구 3 배구 4 탁구

### 두개의 시퀀스를 사용한 루프

In [49]:
# zip() 함수의 사용
for n, w in zip([1, 2, 3, 4], ['a', 'b', 'c', 'd']):
    print(n, w)

1 a
2 b
3 c
4 d

## 함수와 내장형 (Ch.4-9)

In [0]:
# 여러 반환 값을 반환하는 함수

# 책의 코드를 보충하여 수정함

def foo():
    return [1, 2]  # 반환값이 list

In [53]:
# 함수의 반환값을 리스트로 받음
alist = foo()
alist           # 반환값으로 받은 리스트 보기

[1, 2]

In [54]:
type(alist)

list

### 반환값과 언팩 대입

In [0]:
# 목록의 최솟값, 최댓값, 평균값을 반환하는 함수
def digest(in_list):
    minvalue = min(in_list)
    maxvalue = max(in_list)
    average = sum(in_list)/len(in_list)

    return [minvalue, maxvalue, average]

In [56]:
# 함수를 사용
monk_fish_team = [158, 157, 163, 157, 145]
minvalue, maxvalue, average = digest(monk_fish_team)
print(minvalue, maxvalue, average)

145 163 156.0

#### [도전] 위의 digest() 함수가 variance도 추가로 반환하게 변경해보시오!

In [0]:
def digest(in_list):
  minvalue = min(in_list)
  maxvalue = max(in_list)
  average = sum(in_list)/len(in_list)
  variance = 0
  
  for a in in_list:
    variance = variance + (a-average)**2
    
    return [minvalue, maxvalue, average, variance]

In [58]:
monk_fish_team = [158, 157, 163, 157, 145]
minvalue, maxvalue, average, variance = digest(monk_fish_team)
print(minvalue, maxvalue, average, variance)

145 163 156.0 4.0

### 함수로 인수 리스트를 받기

In [59]:
# 함수로 인수 리스트를 받기
def foo(a, b, *vals):   # *인수를 갖는 함수를 정의
    print(a, b, vals)
foo(1, 2, 3, 4, 5)      # 5개의 값을 인수로 지정하여 호출

1 2 (3, 4, 5)

In [60]:
foo(1, 2, c=3)          # c라고 하는 미정의 키워드 인수를 지정

TypeError: ignored

### 함수로 키워드 인수 받기

In [61]:
# 정의되지 않은 키워드 인수
def bar(a, b, **args):    # **인수를 갖는 함수를 정의(딕셔너리함수구조로 정의)
    print(a, b, args)

bar(1, 2, c=3, d=4)       # 정의하지 않은 키워드 인수를 정의

1 2 {'c': 3, 'd': 4}

### 기본 인수 및 갱신 가능한 내장형 (사용 주의!)

변경 가능한 내장형을 기본 인수로 설정하면 곤란한 일이 생기기 때문에 주의가 필요하다.

구체적으로 예를 보는 것이 알기 쉽다고 생각하기 때문에 그런 함수를 만들어 호출한다.

In [0]:
def append_to(a_list, b_list=[]):
    # 변경 가능한 객체(목록)를 기본 인수로 가지는 함수를 정의
    b_list.append(0)
    return a_list+b_list

In [64]:
list_1 = [1, 2, 3, 4]        # 리스트 정의
# 두 번째 인수를 생략하고 함수를 호출
list_2 = append_to(list_1)   # ()에 list_1이라고 정의 했지만append를 0이라고 정의해서 값은 0 
list_2                       # 결과 표시

[1, 2, 3, 4, 0]

In [68]:
list_1

[1, 2, 3, 4]

In [66]:
list_3 = append_to(list_1)   # 함수를 다시 호출
# 함수의 인수 b_list에 추가, 0이 추가되므로
# 결과의 끝은 [0, 0]이 된다
list_3

[1, 2, 3, 4, 0, 0]

In [69]:
list_3 = append_to(list_1)
# 인수 b_list에 추가, 0이 추가되기 때문에 결과가 달라진다
list_3

[1, 2, 3, 4, 0, 0, 0]

In [70]:
list_3 = append_to(list_1)
# 인수 b_list에 추가, 0이 추가되기 때문에 결과가 달라진다
list_3

[1, 2, 3, 4, 0, 0, 0, 0]

- 따라서, 기본 인수로 변경 가능한 객체를 설정하면 함수 내에서 한 파괴적인 조작이 그대로 유지된다. 
- 이것은 기본 인수의 객체가 인터프리터 실행에 저장되어 있기 때문이다.
- 기본 인수로 변경 가능한 객체를 설정하면 예상대로 처리되지 않을 수 있으므로 주의가 필요하다.

In [0]:
# break